<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Room</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='styles/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='styles/lobby.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='styles/header.css'>
</head>
<body>
<header id="nav">
    <div class="container">
        <div class="row top-header align-items-center">
            <div class="col-6 col-sm-6 col-lg-6 col-xl-6">
                <a href="https://www.tatamotors.com/" class="primary-logo" target="_blank">
                    <img alt="Tata Motors Connecting Aspirations" src="assets/images/OSP-logo.webp" loading="eager" />
                </a>
            </div>
            <div class="col-6 col-sm-6 col-lg-6 col-xl-6 text-end">
                <a href="https://www.tata.com/" class="secondary-logo" target="_blank">
                    <img alt="The Tata Group , Leadership with Trust" src="assets/images/tata-logo.webp"
                        loading="eager" />
                </a>
            </div>
        </div>
    </div>
    <div class="middle-header d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-end">
                    <ul>
                        <li><a alt="Blog" (click)="SectionClick('Blog');BlogSection()">Blog</a></li>

                        <li><a [routerLink]="'/help'" alt="Help" (click)="SectionClick('Help')">Help</a></li>
                        <!-- <li> <a data-bs-toggle="modal" (click)="openPopup('enquiry')" data-bs-target="#enquiryModal">Enquiry</a></li> -->
                        <!-- <li><a [routerLink]="'/dealer-locator-list'" (click)="SectionClick('Dealers')">Dealers Locator</a></li> -->
                        <li class="booking-guide" [routerLink]="['/booking-guide']"><img alt="video-icon"
                                loading="eager" src="assets/images/video.svg" /> Booking Guide</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Mega Navigation Bar-->
    <div class="mega-menu-bar">
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar navbar-expand-lg">
                    <div class="container">
                        <span class="navbar-brand cursor-pointer" [routerLink]="'/'"
                            (click)="SectionClick('Home')">Online Sales
                            Platform</span>
                        <div class="ms-auto position-relative d-lg-none">
                            <a [routerLink]="">
                                <img alt="search-white" class="mobile-search-icon" src="assets/images/search-white.svg"
                                    loading="eager" />
                            </a>
                            <div class="mobile-header-search d-none">
                                <div class="search-wrapper">
                                    <input type="search" class="form-control searching" [(ngModel)]="searchValue"
                                        placeholder="Search products here" (keydown.enter)="search(searchValue)"
                                        (input)="getSearchModels(searchValue)" />
                                    <button class="btn btn-default" (click)="search(searchValue)">
                                        <img alt="search-icon" src="assets/images/search.svg" loading="eager" />
                                    </button>
                                    <button class="btn btn-primary btn-mobile-search-class" id="btn-mobile-search">
                                        <img alt="search-close" src="assets/images/close-white.svg" loading="lazy" />
                                    </button>
                                </div>
                                <!--autocomplete dropdown-->
                                <ul class="dropdown-menu-end auto-complete-wrapper-search"
                                    [ngClass]="searchModels.length == 0 ? 'd-none' : ''">
                                    <li *ngFor="let data of searchModels" (click)="search(data)">
                                        <a>{{ data }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                            aria-labelledby="offcanvasExampleLabel">
                            <div class="d-lg-none user-name-mobile" *ngIf="isUserLoggedIn">
                                <img alt="User-Icon" src="assets/images/user-bluebg.svg" loading="lazy" />Welcome
                                <span>{{ userData?.first_name }} {{
                  userData?.last_name }}</span>
                            </div>
                            <ul class="navbar-nav ms-lg-auto">
                                <li class="nav-item active"><a class="nav-link" [routerLink]="'/'">Home </a></li>
                                <li class="nav-item dropdown has-megamenu">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                        <span [routerLink]="goToProductTop('Icv Trucks')">
                                            Trucks</span>
                                    </a>
                                    <div class="dropdown-menu megamenu" role="menu">
                                        <div class="container">
                                            <div class="row">
                                                <ng-container *ngFor="let menu of truckList">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                                        <h3 class="mega-heading">
                                                            <a
                                                                [routerLink]="gotoProductMain(truckLobId, menu.id)">{{ menu.id | uppercase }}</a>
                                                        </h3>
                                                        <div class="mega-item-wrapper">
                                                            <ul>
                                                                <ng-container *ngFor="let pplname of menu.ppl_list">
                                                                    <li class="mega-item">
                                                                        <a
                                                                            [routerLink]="gotoProduct(truckLobId, menu.id, pplname)">{{
                                      pplname.actual_ppl
                                      }}</a>
                                                                    </li>
                                                                </ng-container>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item dropdown has-megamenu">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                        <span [routerLink]="goToProductTop('Buses')">Buses & Vans</span>
                                    </a>
                                    <div class="dropdown-menu megamenu" role="menu">
                                        <div class="container">
                                            <div class="row">
                                                <ng-container *ngFor="let menu of busData; let i = index">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                                        <h3 class="mega-heading">
                                                            <a [routerLink]="gotoProductMain(busLobId, menu?.lobName)">
                                                                {{ menu?.displayName  | uppercase }}</a>
                                                        </h3>
                                                        <div class="mega-item-wrapper">
                                                            <ul>
                                                                <ng-container
                                                                    *ngFor="let ppl of busPlValues; let j = index">
                                                                    <ng-container
                                                                        *ngFor="let pplname of ppl.ppl_list; let k = index">
                                                                        <li class="mega-item" *ngIf="j === i">
                                                                            <a
                                                                                [routerLink]="gotoProduct(busLobId, menu?.lobName, pplname)">{{
                                        pplname.actual_ppl
                                        }}</a>
                                                                        </li>
                                                                    </ng-container>
                                                                </ng-container>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item dropdown has-megamenu">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                        <span [routerLink]="goToProductTop('SCV Pickups')">SCV & Pickups</span>
                                    </a>
                                    <div class="dropdown-menu megamenu" role="menu">
                                        <div class="container">
                                            <div class="row">
                                                <ng-container *ngFor="let menu of scvPickupsData; let i = index">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                                                        <h3 class="mega-heading">
                                                            <a
                                                                [routerLink]="gotoProductMain(SCVPickupsLobId, menu?.lobName)">{{ menu?.displayName | uppercase }}</a>
                                                        </h3>
                                                        <div class="mega-item-wrapper">
                                                            <ul>
                                                                <ng-container
                                                                    *ngFor="let ppl of scvPlValues; let j = index">
                                                                    <ng-container
                                                                        *ngFor="let pplname of ppl.ppl_list; let k = index">
                                                                        <li class="mega-item" *ngIf="j === i">
                                                                            <a
                                                                                [routerLink]="gotoProduct(SCVPickupsLobId, menu?.lobName, pplname)">
                                                                                {{ pplname.actual_ppl }}</a>
                                                                        </li>
                                                                    </ng-container>
                                                                </ng-container>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item"><a class="nav-link" [routerLink]="'/compare'"
                                        (click)="SectionClick('Compare')">Compare </a></li>
                                <li class="nav-item">
                                    <a class="nav-link" rel="noopener noreferrer" href="https://tataok.tatamotors.com"
                                        target="_blank" (click)="SectionClick('EXCHANGE')">Exchange
                                    </a>
                                </li>
                                <li class="nav-item search-nav">
                                    <div class="search-wrapper">
                                        <input type="search" class="form-control searching" [(ngModel)]="searchValue"
                                            placeholder="Search products here" (keydown.enter)="search(searchValue)"
                                            (input)="getSearchModels(searchValue)" />
                                        <button class="btn btn-default" (click)="search(searchValue)">
                                            <img alt="search-icon" src="assets/images/search.svg" loading="eager" />
                                        </button>
                                    </div>
                                    <ul class="dropdown-menu-end auto-complete-wrapper-search"
                                        [ngClass]="searchModels.length == 0 ? 'd-none' : ''">
                                        <li *ngFor="let data of searchModels" (click)="search(data)">
                                            <a>{{ data }}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item d-lg-none"><a class="nav-link" [routerLink]="'/blog-list'"
                                        alt="Blog" (click)="SectionClick('Blog')">Blog</a></li>
                                <!-- <li class="nav-item d-lg-none"><a class="nav-link" [routerLink]="'/dealer-locator-list'" (click)="SectionClick('Dealers')">Dealers Locator</a></li> -->

                                <li class="nav-item d-lg-none">
                                    <a class="nav-link" (click)="SectionClick('Help')" [routerLink]="'/help'">Help </a>
                                </li>
                                <li class="nav-item d-lg-none booking-guide" [routerLink]="['/booking-guide']"><img
                                        alt="video-icon" src="assets/images/video.svg" loading="lazy" /> Booking Guide
                                </li>
                                <!--End Search auto complete-->
                                <li class="nav-item login" *ngIf="!isUserLoggedIn">
                                    <a class="nav-link" data-bs-toggle="modal" (click)="openPopup('login')"
                                        data-bs-target="#loginModal">Login
                                    </a>
                                </li>
                                <!--after login-->
                                <li class="nav-item dropdown login after-login" *ngIf="isUserLoggedIn">
                                    <a class="nav-link dropdown-toggle p-0" href="#" data-bs-toggle="dropdown">
                                        <span class="user">
                                            <img alt="user-icon" src="assets/images/user.svg" loading="lazy" />
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item">
                                                Welcome <span class="ms-1">{{ userData?.first_name }}
                                                    {{ userData?.last_name }}</span></a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" (click)="myAccount()">
                                                <img alt="user-icon" src="assets/images/user.svg" loading="lazy" /> My
                                                Account
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" [routerLink]="['/upload-kyc']"
                                                routerLinkActive="router-link-active">
                                                <img alt="kyc-icon" src="assets/images/kyc.svg" loading="lazy" /> KYC
                                                Details
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0)"
                                                data-bs-target="#logoutModal" data-bs-toggle="modal">
                                                <img alt="logout-icon" src="assets/images/logout.svg" loading="lazy" />
                                                Logout
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
    <!-- <header id="nav">
       <div class="nav--list">
            <a href="lobby.html" />
                <h3 id="logo">
                    <img src="https://uploads-ssl.webflow.com/626273a800e5cb338af2f636/6318943f6dcc1d80ac7a502c_Frame%20218.svg" alt="Site Logo">
                    <span>Vmeet</span>
                </h3>
            </a>
       </div>

        <div id="nav__links">
            <a class="nav__link" href="/">
                Lobby
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ede0e0" viewBox="0 0 24 24"><path d="M20 7.093v-5.093h-3v2.093l3 3zm4 5.907l-12-12-12 12h3v10h7v-5h4v5h7v-10h3zm-5 8h-3v-5h-8v5h-3v-10.26l7-6.912 7 6.99v10.182z"/></svg>
            </a>
            <a class="nav__link" id="create__room__btn" href="lobby.html">
                Create Room
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ede0e0" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg>
            </a>
        </div>
    </header> -->

    <main id="room__lobby__container">
        
        <div id="form__container">
             <div id="form__container__header">
                 <p>👋 Create or Join Room</p>
             </div>
 
 
            <form id="lobby__form">
 
                 <div class="form__field__wrapper">
                     <label>Your Name</label>
                     <input type="text" name="name" required placeholder="Enter your display name..." />
                 </div>
 
                 <div class="form__field__wrapper">
                     <label>Room Name</label>
                     <input type="text" name="room"  placeholder="Enter room name..." />
                 </div>
 
                 <div class="form__field__wrapper">
                     <button type="submit">Go to Room 
                         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"/></svg>
                    </button>
                 </div>
            </form>
        </div>
     </main>
    
</body>
<script type="text/javascript" src="js/lobby.js"></script>
</html>
